@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --parrafo-color: #757575;
  --subtitulos-color: #212121;
  --hover-color: #2196f3;
  --princptittle-color: #ffffff;
  --maibutton-color: #f5f4fa;
}

.weblogo {
  color: var(--hover-color);
  font-size: 26px;
  letter-spacing: 0.03px;
  line-height: 1.17;
  text-decoration: none;
}

.head_link {
  color: var(--subtitulos-color);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02px;
  line-height: 1.17;
}

.head_link:hover {
  color: var(--hover-color);
}

.head_info {
  color: var(--parrafo-color);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02px;
  line-height: 1.17;
}

.head_info:hover {
  color: var(--hover-color);
}

.principal_title {
  background-color: #2f303a;
  text-align: center;
}

.title {
  color: var(--princptittle-color);
  font-size: 44px;
  letter-spacing: 0.06px;
  line-height: 1.36;
}

.firstbutton {
  background-color: #188ce8;
  color: var(--princptittle-color);
  font-size: 16px;
  letter-spacing: 0.06px;
  line-height: 1.87;
}

.firstbutton:hover {
  background-color: #188ce8;
  color: var(--princptittle-color);
  cursor: pointer;
}

.princ_skills {
  color: var(--subtitulos-color);
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 1.17;
}

.Parrafos_skill {
  color: var(--parrafo-color);
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 1.71;
}

.subtis_principal {
  color: var(--subtitulos-color);
  font-size: 36px;
  letter-spacing: 0.03px;
  line-height: 1.17;
}

.team_name {
  color: var(--subtitulos-color);
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 1.17;
}
.team_Parrafos {
  color: var(--parrafo-color);
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 1.17;
}

.potf_button {
  text-align: center;
}

.main_button {
  background: var(--maibutton-color);
  color: var(--subtitulos-color);
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 1.62;
  text-align: center;
}

.main_button:hover {
  background-color: var(--hover-color);
  color: var(--princptittle-color);
  cursor: pointer;
}

.subtis_portf {
  color: var(--subtitulos-color);
  font-size: 18px;
  letter-spacing: 0.06;
  line-height: 2;
}

.potf_parrafo {
  color: var(--parrafo-color);
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 1.87;
}

.footer_info {
  background-color: #2f303a;
}

.foot_info {
  color: var(--princptittle-color);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 1.7;
}

.list {
  list-style: none;
}

.title_portfolio {
  display: none;
}
